<div class="loginPage">
	<div class="widgetHeader">
		<h4 class="widgetHeaderTitle widgetIcon i_16_login">Login</h4>
	</div>
	<div class="widgetContent">
		<div class="widgetLineGrid">
			<div class="label">E-mail</div>
		    <div class="simple_field" 
		    	 data-dojo-attach-point="loginNode" 
		         data-dojo-type="dijit/form/TextBox"></div>
		</div>
		<div class="widgetLineGrid">
			<div class="label">Pass</div>
		    <div class="simple_field" 
		    	 data-dojo-attach-point="passwordNode"
		         data-dojo-type="dijit/form/TextBox" 
		         data-dojo-props="type: 'password'"></div>
		</div>
		<div class="widgetLineGrid">
		    <div 
		    	 data-dojo-attach-point="buttonNode"
		         data-dojo-type="dojox/form/BusyButton"
		         data-dojo-attach-event="onClick: _onLogin">Log In</div>
    	</div>
    </div>
</div>